.flex-block{
    display: flex
}
.senior{
flex: 1;
background-color: aquamarine;
}
.junior{
    flex: 1;
    background-color: darkgoldenrod;
}
.container-back{
    background-image: https://avatars2.githubusercontent.com/u/45890736?s=460&v=4;}
.sign-in-item div{
    margin-top: 10px;
    margin-left: 20px;
}