.header{
    height: 100px;
    display: block;
    
}
.user-img{
    width: 70px;
    height: 70px;
}
.header nav{
    float: left;
}
.sign-in-item div{
    margin-top: 10px;
    margin-left: 20px;
}