#UEFurl(ЧПУ)
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-d

#ЧПУ для перехода на главную страницу в файле navbar.php
RewriteRule ^main/?$		index.php [L,QSA]

#ЧПУ для перехода по категориям в файле navbar.php
RewriteRule ^catalog/?$		index.php?view=katalog [L,QSA]
RewriteRule ^proect/?$		index.php?view=proect [L,QSA]
RewriteRule ^nastavnik/?$		index.php?view=nastavnik [L,QSA]
RewriteRule ^profile/?$		index.php?view=profile [L,QSA]

</IfModule>